html {
	width: 100%;
}

body {
	width: 100%;
}

.title-space {
	word-spacing: 0.15em;
}

form {
	padding: 20px;
}

.button {
	margin-left: 20px;
}

.image img {
	width: auto;
	height: auto;
}

.img-style {
	width: 300px;
	height: 400px;
	display: none;
	padding: 20px;
}

.error-box {
	height: 65vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.error {
	color: hsl(171, 100%, 41%);
	font-size: 8em;
}


.marrig{
	margin-left: 40px;
}

.tobet{
	margin: 50px 0;
}