<!DOCTYPE html>
<html>
<head>

	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="This is a food classifier which uses an API to send the image, the API responds with the predictions of the the food classifier">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	{% block script %} {% endblock %}

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% block style %}{% endblock %}

	<link rel="icon" href="data:;base64,=">

</head>
<body>


	{% block content %}
	{% endblock %}

</body>
</html>
