{% extends "base.html" %}

{% block title %}Lusty Paddy | Paddy Disease Classifier{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='script.js') }}" type="application/javascript"></script>

<script src="{{ url_for('static', filename='bootstrap.min.js') }}" type="application/javascript"></script>
<script src="{{ url_for('static', filename='Scroll-to-top.js') }}" type="application/javascript"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='accordion-faq-list.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Scroll-to-top-styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Team-Horizontal-icons.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Team-Horizontal-images.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Navbar-Right-Links-icons.css') }}">

{% endblock %}

{% block content %}
<nav class="navbar navbar-light navbar-expand-md py-3">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"></span><span>Lusty Paddy</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="#gas">Let's Try!</a></li>
                <li class="nav-item"><a class="nav-link" href="#abs">Encyclopaddy</a></li>
                <li class="nav-item"><a class="nav-link" href="#enc">About Us</a></li>
            </ul>
        </div>
    </div>
</nav>
<section class="py-4 py-xl-5">
    <div class="container h-100">
        <div class="row h-100" style="margin: 100px 0;">
            <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                <div>
                    <h2 class="text-uppercase fw-bold mb-3">LUSTY PADDY | PADDY DISEASE CLASSIFICATION</h2>
                    <p class="mb-4">Helping farmers to produce quality, disease-free rice with machine learning. It's a paddy (rice) disease classification and&nbsp;it will be useful to ensure health for the population, especially in the Asian region, which makes rice as a staple food.<br></p><button class="btn btn-primary fs-5 me-2 py-2 px-4" type="button">Let's Try!</button>
                </div>
            </div>
        </div>
    </div>
</section>

	<div class="row d-flex justify-content-center tobet" id="gas">
			<div class="col-md-6" marrig>
			<form method="post" id="form" enctype="multipart/form-data">
			
				<div class="field">
					<label class="label">Upload Photo of the Paddy leaf (jpg/jpeg/png)</label>
					<div class="control">
						<div class="file has-name">
							<label class="file-label">
								<input class="file-input" type="file" name="file" id="file">
								<span class="file-cta">
									<span class="file-icon">
										<i class="fa fa-upload"></i>
									</span>
									<span class="file-label">
										Choose a file…
									</span>
								</span>
								<span class="file-name">
									
								</span>
							</label>
						</div>
					</div>
				</div>

			</form>
		
			<img src="" class="img-style" id="img" width="200" height="300" />	
		
			<div class="container">
				<input class="button is-success" type="button" value="Predict" id="predict">
			</div>
		</div>

		<div class="col-md-6">
			<div class="content" style="margin-top: 50px;">
                <p id="wait">
                </p>
				<h3 id="result">
                </h3>
			</div>
		</div>
	</div>


    <div class="bg-light border rounded border-light jumbotron py-5 px-4" id="abs">
        <div class="card"></div>
        <section class="py-5 bg-light">
            <h1 class="text-center text-success" style="padding-top: 15px;padding-bottom: 15px;color: #1b6ce5!important;">Encyclopaddy</h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div id="faqlist" class="accordion accordion-flush">
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-1">Normal paddy description</button></h2>
                                <div id="content-accordion-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Characteristic features :
                                        The rice leaves are dark green; 80% maximum number of tillers; The tip of the root of the rice plant is white</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-2">Bacterial leaf blight disease</button></h2>
                                <div id="content-accordion-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Characteristic features : Starting from gray to yellow spots on the leaf surface or at the tips of the leaves, progressing to all leaves, and finally the leaves dry up, die. <br><br> How to fix it : Removes weeds, hay and turiang in the off-season; It is recommended not to cut some of the leaves of rice seeds when planting; Disease development can be effectively inhibited by resistant varieties, nitrogen fertilization, and reducing canopy humidity; Use of single resistant genes; Use of healthy seeds; Water management</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-3">Bacterial leaf streak disease</button></h2>
                                <div id="content-accordion-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Symptom: Straight transparent line between leaf bones; Then it expands and turns dark green. <br><br> How to fix it:Technical culture; resistant varieties.</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-4">Bacterial panicle blight disease</button></h2>
                                <div id="content-accordion-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Symptom : It can be seen on plantlets, on flag leaf midribs, and on panicles.
                                        <br> <br> How to fix it : Apply the correct dosage of active ingredients, keeping in mind the quantity and quality of the product; Apply the product at the right time, as it has preventive measures against the appearance of symptoms.</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-5">Blast disease</button></h2>
                                <div id="content-accordion-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Symptom : On the leaves there are rhombus-shaped spots in the middle and tapered at both ends. <br> <br> How to fix it : Use blast resistant varieties alternately; Use nitrogen fertilizer as recommended.</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-6">Brown spot disease</button></h2>
                                <div id="content-accordion-6" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Symptom : Brownish spots the size of a sesame seed on the leaves, midrib, and grain. <br><br> How to fix it: Good fertilizer management; Use of potassium.</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-7">Deadheart disease</button></h2>
                                <div id="content-accordion-7" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Symptom : The death of rice plant shoots in the vegetative stage; Rice panicles look white and empty at the generative stage <br><br> How to fix it: Can be done by using mechanic.</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-8">Hispa disease</button></h2>
                                <div id="content-accordion-8" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Symptom : There is a pattern of white and parallel lines along the main axis of the leaf; n severe attacks, the white spots get bigger every year. <br><br> How to fix it : Use closer spacing with greater leaf density which can tolerate a greater amount of hispa; Plant crops early in the season to avoid peak populations</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-9">Tungro disease</button></h2>
                                <div id="content-accordion-9" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Symptom : Discoloration of the young leaves of rice plants that turn yellow to orange; The leaves also look twisted. <br><br> How to fix it : Planting rice simultaneously on an area of ​​at least 25 hectare; Set the rice planting time as well as possible. At the peak of population density of green leafhoppers, rice plants were more than 45 days after planting, the age of rice plants that were not susceptible to tungro disease.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <a class="cd-top" href="#"> <img src="{{url_for('static', filename='to-top.png')}}" alt=""> </a>
    <div class="container text-white bg-primary border rounded border-0 p-4 p-lg-5 py-4 py-xl-5" id="enc">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="text-white">Lusty Paddy for Social Impact</h2>
                <p class="w-lg-50">We make a web application that helps farmers to produce quality, disease-free rice with machine learning.</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="d-flex">
                    <div class="bs-icon-sm bs-icon-rounded bs-icon-semi-white text-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon"></div>
                    <div class="px-3">
                        <h4 class="text-white">Ensuring good paddy quality</h4>
                        <p>With its main features, Lusty Paddy is useful for farmers to produce rice from high-quality and disease-free paddy.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex">
                    <div class="bs-icon-sm bs-icon-rounded bs-icon-semi-white text-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon"></div>
                    <div class="px-3">
                        <h4 class="text-white">Mitigating paddy disease</h4>
                        <p>If there are rice that suffers from disease, Lusty Paddy gives suggestions to mitigate the same thing happening to other paddy.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex">
                    <div class="bs-icon-sm bs-icon-rounded bs-icon-semi-white text-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon"></div>
                    <div class="px-3">
                        <h4 class="text-white">Supports healthy nutrition for social</h4>
                        <p>With good quality paddy (rice), it will be useful to ensure health for the population, especially in the Asian region, which makes rice as a staple food.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-4 py-xl-5">
        <div class="row mb-5" style="margin-top:100px">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Our Problem Framing</h2>
                <p class="w-lg-50">These are some of the points of the reason we built the Lusty Paddy web application.</p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="d-flex p-3">
                    <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon sm"></div>
                    <div class="px-2">
                        <h5 class="mb-0 mt-1">Diseased paddy often causes crop failure</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex p-3">
                    <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon sm"></div>
                    <div class="px-2">
                        <h5 class="mb-0 mt-1">Limited availability of paddy protection experts<br></h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex p-3">
                    <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon sm"></div>
                    <div class="px-2">
                        <h5 class="mb-0 mt-1">Manual disease diagnosis is quite time consuming</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex p-3">
                    <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon sm"></div>
                    <div class="px-2">
                        <h5 class="mb-0 mt-1">Rice requires consistent supervision to maintain its quality</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-4 py-xl-5" style="margin-top:80px">
        <h2 class="centering">Future Development Planning</h2>
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col"><img class="rounded w-100 h-100 fit-cover" style="min-height: 300px;" src="{{url_for('static', filename='compressedRice.jpg')}}"></div>
            <div class="col d-flex flex-column justify-content-center p-4">
                <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                    <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon md"></div>
                    <div>
                        <h4>Multiple image classifier</h4>
                        <p>It is easier to track diseased paddy by inputting several images at once, along with location information, and additional notes. Accompanied by export to a pdf file.</p>
                    </div>
                </div>
                <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                    <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon md"></div>
                    <div>
                        <h4>Realtime classifier</h4>
                        <p>Predict directly with more interactive and easy-to-use features.</p>
                    </div>
                </div>
                <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start">
                    <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon md"></div>
                    <div>
                        <h4>Upload to Cloud System</h4>
                        <p>Trace paddy diseases and store the information in a database to be accessed at a later time.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-4 py-xl-5">
        <div class="row mb-5" style="margin-top:100px">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Meet our Developer</h2>
                <p class="w-lg-50">We are students from Vocational High School 4 Bandung (otherwise known as SMKN 4 Bandung) majoring in software engineering. We developed the Lusty Paddy web to create a good social impact for the farmer community, in the agricultural sector.</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col">
                <div class="card border-0 shadow-none">
                    <div class="card-body d-flex align-items-center p-0"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="130" height="130" src="{{url_for('static', filename='LPrafkaProfile.png')}}">
                        <div>
                            <h5 class="fw-bold text-primary mb-0">Rafka Imanda Putra</h5>
                            <p class="text-muted mb-1">Machine Learning Engineer</p>
                            <ul class="list-inline fs-6 text-muted w-100 mb-0">
                                <li class="list-inline-item text-center">
                                    <div class="d-flex flex-column align-items-center"></div>
                                </li>
                                <li class="list-inline-item text-center">
                                    <div class="d-flex flex-column align-items-center"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 shadow-none">
                    <div class="card-body d-flex align-items-center p-0"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="130" height="130" src="{{url_for('static', filename='LPSadam.png')}}">
                        <div>
                            <h5 class="fw-bold text-primary mb-0"><strong>Sadam Ali Rafsanjani</strong></h5>
                            <p class="text-muted mb-1">Fullstack Developer</p>
                            <ul class="list-inline fs-6 text-muted w-100 mb-0">
                                <li class="list-inline-item text-center">
                                    <div class="d-flex flex-column align-items-center"></div>
                                </li>
                                <li class="list-inline-item text-center">
                                    <div class="d-flex flex-column align-items-center"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 shadow-none">
                    <div class="card-body d-flex align-items-center p-0"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="130" height="130" src="{{url_for('static', filename='LPnadya.png')}}">
                        <div>
                            <h5 class="fw-bold text-primary mb-0"><strong>Nadya Rahmawati</strong></h5>
                            <p class="text-muted mb-1">Content Developer</p>
                            <ul class="list-inline fs-6 text-muted w-100 mb-0">
                                <li class="list-inline-item text-center">
                                    <div class="d-flex flex-column align-items-center"></div>
                                </li>
                                <li class="list-inline-item text-center">
                                    <div class="d-flex flex-column align-items-center"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-center">
        <div class="container text-muted py-4 py-lg-5" style="margin-top:50px">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Credits Section</h2>
                <p class="w-lg-50">The data used in this website comes from https://www.kaggle.com/competitions/paddy-disease-classification</p>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item me-4"></li>
                <li class="list-inline-item me-4"></li>
                <li class="list-inline-item"></li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item me-4"></li>
                <li class="list-inline-item me-4"></li>
                <li class="list-inline-item"></li>
            </ul><a class="cd-top" href="#"> </a>
            <p class="mb-0">Made with love by Lusty Paddy Team</p>
        </div>
    </footer>
{% endblock %}